version: '3.1'

networks:
  proxynet:
    name: near-bye-network

services:
  app:
    container_name: near-bye-auth-service
    build:
      dockerfile: Dockerfile
      context: .
    env_file:
      - .env
      - rsa-keys-dev/private.test.pem.env
      - rsa-keys-dev/public.test.pem.env
    volumes:
      - .:/usr/src/app
    command: npm run start:dev
    ports:
      - 3002:3002
    networks:
      - proxynet
